//- page.pug
extends layout.pug

block variables
  //- -var header1 = 'This is HEADER1'
  //- -var paragraph1 = 'This is paragraph ONE'
  //- -var paragraph2 = 'This is paragraph TWO'
  //- -var interpolated = 'interpolated variable'


block content
  #rangeslider-1.rangeslider-1
  div.rangeslider-2
  div.rangeslider-3
  div.rangeslider-4